* {
    margin: 0rem;
    padding: 0rem;
}

header {
    text-align: center;
    background-color: #000000;
    color: #ffffff;

}

header > h1 {
    padding-top: 3.1rem;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 3.1rem;
}

header a, footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: rgb(235, 224, 224);
}

div {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    line-height: 2rem;   /*espaçamento entre as linhas*/
}

.letra {
    background-color: #ffffff;
    color:#000000;
}

.letra > p {
    padding-bottom: 2rem;
}

.imagem > p, .imagem2 > p {
    display: inline-block;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px #000000;
}

.imagem {
    background: rgb(51, 51, 51) transparent;
    color: #ffffff;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.imagem2 {
    background: rgb(51, 51, 51) transparent;
    color: #ffffff;
    background-image: url(imagens/background002.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}